{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <a href="{{ path('app_logout') }}" class="btn btn-primary ml-md-5 mt-md-1 active position-fixed" role="button" aria-pressed="true">Logout</a>
    <div class="d-flex justify-content-center">
        <h4><b>Top 10 words from https://www.theregister.co.uk/software/headlines.atom, except 50 most popular words</b></h4>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="list-column bg-primary">
                    <div class="row justify-content-center">
                        <div class="col-2 text-align-center">
                            <b>Place</b>
                        </div>
                        <div class="col-4 text-align-center">
                            <b>Word</b>
                        </div>
                        <div class="col-2 text-align-center">
                            <b>Count</b>
                        </div>
                    </div>
                </div>
            </div>
            {% for fromTop in top10 %}
                <div class="col-12" id="paginatedAddress">
                    <div class="list-column bg-light  align-content-center">
                        <div class="row justify-content-center">
                            <div class="col-2 text-align-center">
                                {{ loop.index }}
                            </div>
                            <div class="col-4 text-align-center">
                                {{ fromTop.word }}
                            </div>
                            <div class="col-2 text-align-center">
                                {{ fromTop.count }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <h3><b>Feed - {% if feed.title is defined %}{{ feed.title }}{% endif %}</b></h3>
    </div>
    <br>
    <div class="container">
        {% if feed.entry is defined %}
            {% for post in feed.entry %}
                <div class="jumbotron">
                    <h1 class="display-4"> {{ post.title|raw }}</h1>
                    <p class="lead"> {{ post.summary|raw }}</p>
                    <hr class="my-4">
                    <p>Author: <a href="{{ post.author.uri }}" target="_blank">{{ post.author.name }}</a></p>
                    <p>Date: {{ post.updated|date('d M Y H:i') }}</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ post.link.attributes().href }}" role="button">Read
                            more</a>
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
